**/node_modules/
**/.expo/
**/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/build/
**/web-build/

# OS files
**/.DS_Store
**/Thumbs.db

# Local development files
.local/
**/.env*
**/*.tsbuildinfo
